{% set error = context.error %}
<div class="{{'control-group error' if error else 'control-group'}}">
  <label class="control-label"
         for="{{context.id}}" title="{{context.description}}">
    {{context.title|safe}}
    {% if context.required %}*{% endif %}
  </label>
  <div class="controls">
    {{context.render()|safe}}
    {% if error %}
    <span class="help-inline">{{error|safe}}</span>
    {% endif %}
    {% if context.description %}
    <p class="help-block">{{context.description|safe}}</p>
    {% endif %}
  </div>
</div>
