{%if context.label%}<h2>{{context.label|safe}}</h2>{%endif%}
{%if context.description%}<p>{{context.description|safe}}</p>{%endif%}

<form action="{{context.action|safe}}"
      name="{{context.name}}" id="{{context.id}}" class="{{context.klass}}"
      method="{{context.method}}" enctype="{{context.enctype}}"
      accept="{{context.accept}}" acceptCharset="{{context.accept_charset}}"
      {%if context.autcomplete%}autocomplete="{{context.autocomplete}}"{%endif%}>

  {% for fieldset in context.widgets.fieldsets %}
  <fieldset>
    {%if fieldset['title']%}
    <legend>{{fieldset['title']|safe}}</legend>
    {%endif%}

    {% for widget in fieldset['widgets'] %}
      {{widget.render_widget()|safe}}
    {%endfor%}
  </fieldset>
  {%endfor%}

  {{request.render_tmpl(context.tmpl_actions, context)|safe}}

  {%if context.csrf%}
  <input type="hidden" name="{{context.csrf_name}}" value="{{context.csrf_token}}" />
  {%endif%}
  <input type="hidden" name="__form_identity__" value="{{context.id}}" />
</form>
