<div class="clearfix"></div>

{% set options = context.fields[context.key] %}

{% for item in options.items %}
  {% set field = context.fields[item['value']] %}
  <div{{{'class': 'control-group error' if field.error else None}|xmlattr}}>
    <label class="control-label"
           for="{{field.id}}" title="{{field.description}}">
      <small class="muted">
        {{field.title|safe}} {%if field.required %}*{%endif%}
      </small>
      <input type="radio" {{options.get_html_attrs(**item)|xmlattr}}>
    </label>
    <div class="controls">
      {{field.render()|safe}}
      {% if field.error %}
        <span class="help-inline">{{field.error|safe}}</span>
      {% endif %}
      <p class="help-block"></p>
    </div>
  </div>
{% endfor %}
