{% for item in context.items %}
  <label class="{{context.html_type}}" for="{{item['id']}}">
    <input type="{{context.html_type}}"
           {{ context.get_html_attrs(**item)|xmlattr }}>
    {{item['label']}}
  </label>
  {% if item.description %}
  <p class="help-block">
    {{item['description']|safe}}
  </p>
  {% endif %}
{% endfor %}
