{% for item in context.items %}
  <label for="{{item['id']}}"
         class="{{context.html_type}} {%if context.inline%}inline{%endif%}">
    <input type="{{context.html_type}}"
           {{ context.get_html_attrs(**item)|xmlattr }}>
    {{item['label']}}
  </label>
  {% if item.description %}
  <p class="help-block">
    <p class="muted"><small>{{item['description']|safe}}</small></p>
  </p>
  {% endif %}
{% endfor %}
