<div class="control-group">
  <label class="control-label">{{context.title|safe}}</label>
  <div class="clearfix"></div>

  {% set grouping = context.fields[context.key_name] %}

  {% for item in grouping.items %}
  {% set field = context.fields[item['value']] %}
  <div{{{'class': 'control-group error' if field.error else None}|xmlattr}}>
    <label class="control-label"
           for="{{field.id}}" title="{{field.description}}">
      <small class="muted">{{field.title|safe}}</small>
      <input type="radio" {{grouping.get_html_attrs(**item)|xmlattr}}>
    </label>
    <div class="controls">
      {{field.render()|safe}}
      {% if field.error %}
        <span class="help-inline">{{field.error|safe}}</span>
      {% elif field.required %}
        *
      {% endif %}
      <p class="help-block"></p>
    </div>
  </div>
  {% endfor %}

  {% if context.description %}
  <div class="controls">
    <p class="help-block">{{context.description|safe}}</p>
  </div>
  {% endif %}
</div>
