{% set err = context.error.msg %}
<div class="{{'control-group error' if err else 'control-group'}}">
  {%if context.title%}
  <label class="control-label">{{context.title|safe}}{%if context.required%}<small class="muted">*</small>{%endif%}</label>
  {%endif%}

  {% if context.inline %}
    <div class="controls">
      {{context.render()|safe}}
    </div>
  {% else %}
    {{context.render()|safe}}
  {% endif %}

  {% if err %}
  <div class="controls">
    <span class="help-inline">{{context.error|safe}}</span>
  </div>
  {% endif %}

  {% if context.description %}
  <div class="controls">
    <span class="help-block">{{context.description|safe}}</span>
  </div>
  {% endif %}
</div>
