<input type="submit"
       id="{{context.id}}" name="{{context.name}}" value="{{context.title}}"
       {{{'class': context.klass,
          'lang': context.lang,
          'disable': context.disabled,
          'tabindex': context.tabindex,
          'readonly': context.readonly,
          'alt': context.alt,
          'accesskey': context.accesskey}|xmlattr}}>
